h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
h1(data-ng-bind="profile.title")
p(data-ng-if="!profile.user")
  a(href="/login") Login
  span  | 
  a(href="/register") Register
p(data-ng-if="profile.user")
  a(href="/logout") Logout
p(data-ng-if="profile.user") Welcome, 
  span(data-ng-bind="profile.user.fullName")