h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="posts") posts
  span  &raquo; 
h1(data-ng-bind="viewpost.title")
p Post ID: {{viewpost.postDetail._id}}
p Post Name: {{viewpost.postDetail.name}}